.GameMenu {
  h1 {
    margin: auto;
  }

  #main-menu {
    display: block;
  }
}

.GameConfirmation {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
}

.hidden {
  display: none;
}

